body
{
   
    border-radius: 2%;
    border: dotted;
    color:white;
	background-color: black;
	font-family: 'Ubuntu', sans-serif;
	color: white;
}

img{
	border-radius: 50px;
}


input[type=text] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid yellow;
  border-radius: 20px;
}
input[type=password] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid yellow;
  border-radius: 20px;
}



.button {
  
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: black; 
  color: white; 
  border: 2px solid lightgreen;
  border-radius:10px;
}